.blog .background {
  background-color: #05595b;
}

.blog-txt-wrapper p {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}

.blog-txt-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 270px;
}

/*  */

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 50px;
  margin-top: -165px;
}

.blog-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 20px 0px;
  background-color: #fff;
}

.blog-cards .card .description-wraper {
  padding: 20px 30px 63px 30px;
}

.card span {
  margin-bottom: 19px;
  display: block;
  color: #05595b;
  font-size: 14px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.card h2 {
  color: #062c30;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 26px;
}

.card p {
  font-weight: 400;
  line-height: 136%;
}

.card .read-more-btn {
  display: inline-block;
  width: 100%;
  background: #05595b;
  padding: 24px;
  border-radius: 0px 0px 20px 0px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

/*  */

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 60px;
}

.pagination .pagination-btn a {
  background: rgba(5, 89, 91, 0.5);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
}

.pagination .pagination-btn a:hover {
  background-color: #05595b;
  transition: all 0.2s;
}

@media (max-width: 900px) {
  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .blog-txt-wrapper {
    flex-direction: column;
  }

  .blog-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
