.about-diara {
  background-color: #05595b;
  padding: 60px 0 49px 0;
  margin-bottom: 64px;
}

.content-wrapper {
  color: #fff;
}

.content-wrapper .wrapper {
  display: flex;
  align-items: flex-start;
  gap: 75px;
}

.content-wrapper span {
  display: block;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 47px;
}

.content-wrapper p {
  font-weight: 400;
  font-size: 18px;
  line-height: 136%;
  max-width: 903px;
}

/*  */

.our-story {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 30px;
}

.our-story article {
  max-width: 705px;
}

.our-story article p {
  padding-bottom: 30px;
  color: #062c30;
  font-size: 18px;
  line-height: 136%;
}

.our-story article p:last-child {
  padding-bottom: 60px;
}

article iframe {
  width: 100%;
  padding-bottom: 30px;
}

article img {
  padding-bottom: 30px;
}

/*  */

.navigation {
  max-width: 495px;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.25);
  padding: 10px;
}

.navigation .link-to-page {
  background: rgba(5, 89, 91, 0.25);
  color: #f5f5f5;
  font-weight: 700;
  font-size: 18px;
  display: block;
  padding: 19px 30px;
}

.navigation li:not(:last-child) {
  margin-bottom: 10px;
}

.link-to-page:hover {
  background-color: #05595b;
  transition: background-color 0.3s;
}
